body {
    background-image: url(assets/home.jpg);
    height: 1256px;
    background-repeat: no-repeat;
    background-size: 4096px 3000px;
}

.text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.card-body1 {
    background-color: rgb(20, 20, 20);
}



.nav{
    margin: 0%;
}

.card-center{
    margin-left: 60rem;
}


